.main {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #EEEEEE;
}

.content {
    padding: 3%;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid #D3B8A5;
}

/* 출석 체크 */
.attendance_form_group {
    text-align: center !important;
    display: inline-block;
    width: 60% !important;
    margin-top: 0.4rem !important;
}

.attendance_form_group > span{
    font-size: 1.3rem;
    float: right;
}

#valid_attendance_time {
    float: left;
    height: 2rem;
    width: 90%  !important;
}

.div_attendance_check {
    margin-top: 3%; 
}

.attendance_header {
    font-size: 2rem;
    font-weight: bold;
}

.attendance_content {
    margin-top: 1.2rem;
}

.attendance_effective_time {
    padding-left: 1.1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#btn_attendance_check {
    background-color: rgb(182, 145, 119);
    border-color: rgb(182, 145, 119);
    color:white;
    font-weight: bold;
    width: 20rem;
    height: 2.8rem;
    margin-top: 0.4rem !important;
}
  
/* #btn_attendance_check:hover {
    background-color: white;
    color: rgb(182, 145, 119);
    border-color:rgb(182, 145, 119);
    font-weight:bold;
} */

.attend_status {
    display : inline-block;
    margin-top: 1.2rem;
}

#completion {
    background-color: #D3B8A5 !important;
    border-color: #D3B8A5 !important;
    margin-right: 1.4rem;
    width: 9.3rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    float: left;
}

#completion:hover {
    background-color: #D3B8A5 !important;
    border-color: #D3B8A5 !important;
}

#cancel_attendance_btn {
    border-color: red;
    border-width: 1.2px;
    color:red;
    font-weight: bold;
    font-size: 1rem;
    width: 9.3rem;
    height: 2.5rem;
    padding-top: 0.4rem;
    float: left;
}

#cancel_attendance_btn:hover {
    color: red;
    background: rgba(238, 238, 238, 0) !important;
}

.cancel_btn_desc {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0.8rem;
}

.info_attendance_check {
    font-size: 1.2rem;
    margin-right: 2%;
}

/* 퀴즈 점수 입력*/
.div_quiz_score {
    margin-top: 3%; 
}

.quiz_header {
    font-size: 2rem;
    font-weight: bold;
}

.quiz_content {
    margin-top: 1.2rem;
}

.quiz_form_group {
    text-align: center !important;
    display: inline-block;
    margin-top: 2rem;
}

.out_frame_not_exist_quiz {
    /* font-weight: bold; */
    font-size: 1rem;
}

.emphasis_letter {
    border-bottom: 1.2px solid black;
    margin-right: 0.3rem;
    font-weight: bold;
}

.emphasis_letter_first {
    border-bottom: 1.2px solid black;
    margin-right: 0.3rem;
    font-weight: bold;
}

.each_quiz_point {
    text-align: center !important;
    display: inline-block;
    width: 20rem !important;
    margin-top: 0.4rem !important;
}

.each_quiz_point > span{
    font-size: 1rem;
}

.quiz_name_label {
    float: left;
}

#quiz_score {
    width: 9rem !important;
    height: 2rem;
    float: right !important;
}

.btn_div {
    padding-left: 0.6rem;
}

#btn_quiz_score_input {
    background-color: rgb(182, 145, 119);
    border-color: rgb(182, 145, 119);
    color:white;
    font-weight: bold;
    font-size: 1rem;
    width: 20rem;
    height: 2.8rem;
    margin-top: 1rem !important;
}
  
#btn_quiz_score_input:hover {
    color: #FFFFFF;
}

.final_result {
    border: 1.2px solid rgb(182, 145, 119);
    margin-top: 2rem;
}

#final_result_header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.final_result_content {
    margin-bottom: 1rem;
}

.each_result {
    margin-bottom: 0.3rem;
}

.point {
    float: right;
}

.clear_quiz{
    height: 0.7rem;
    clear: both;
    position: inherit;
}

/* 퀴즈 결과 화면 */
.quiz_result_header {
    display : inline-block;
}

#quiz_result_label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0.3rem;
    margin-right: 2rem;
    float: left;
}

#quiz_date_selected {
    width: 9rem !important;
    height: 2rem;
    margin-top: 0.3rem !important;
    margin-right: 2rem;
    float: left;
}

#moveBtn_select_quiz_date {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-top: 0.3rem;
    padding-bottom: 1.5rem !important;
    float: left;
    border-color: rgb(182, 145, 119);
    background-color: rgb(182, 145, 119);
    border-width: 1.2px;
}

.each_quiz_result_point {
    text-align: center !important;
    display: inline-block;
    width: 17em !important;
    margin-top: 0.4rem !important;
}

.each_quiz_result_point > span{
    font-size: 1rem;
}

.quiz_result_name_label {
    float: left;
    padding-right: 2rem;
}

.result_dotdot {
    float: left;
    padding-right: 2rem;
}

#result_score {
    width: 5rem !important;
    height: 2rem;
    float: left !important;
}

.quiz_rank {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1.3rem;
}

.no_quiz_result_past {
    margin-top: 2rem;
}

/*반응형*/
@media(max-width: 1200px) {

    .content {
        margin-left: 1%;
        margin-right: 1%;
    }

    /* 출석 체크 */
    .attendance_form_group {
        /* width: 80% !important; */
        width: 65% !important;
        margin-left: 0.4rem;
    }
    
    .attendance_form_group > span{
        font-size: 1rem;
        font-weight: bold;
    }
    
    #valid_attendance_time {
        font-size: 0.7rem;
        width: 80% !important;
    }

    .attendance_header {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .attendance_content {
        margin-top: 1rem;
    }

    .attendance_effective_time {
        font-size: 0.9rem;
    }

    #btn_attendance_check {
        width: 12rem; 
        height: 2.5rem;
        margin-top: 1rem;
    }

    #completion {
        width: 5.7rem;
        height: 2rem;
        font-size: 0.8rem;
        font-weight: normal;
        margin-bottom: 0.3rem;
        margin-right: 0.7rem;
    }

    #cancel_attendance_btn {
        width: 5.7rem;
        height: 2rem;
        font-size: 0.7rem;
        font-weight: normal;
    }

    .cancel_btn_desc {
        display: inline-block;
        padding-left: 4rem;
    }

    .cancel_btn_desc_1 {
        font-size: 0.8rem;
        float: left;
        margin-left: 1.9rem;
    }

    .cancel_btn_desc_2 {
        font-size: 0.8rem;
        float: left;
        margin-left: 0.5rem;
    }

    .info_attendance_check {
        font-size: 1rem;
        font-weight: bold;
    }

    .main {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* 퀴즈 점수 입력*/
    .quiz_header {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .quiz_content {
        margin-top: 1rem;
        margin-left: 1.3rem;
    }

    .quiz_form_group {
        width: 80% !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .quiz_form_group > span{
        font-size: 1rem;
        font-weight: bold;
    }

    .out_frame_not_exist_quiz {
        font-size: 0.8rem;
        text-align: left;
    }

    .emphasis_letter {
        font-weight: bold;
        font-size: 0.8rem;   
    }

    .page_desc_div {
        display: inline-block;
        margin-bottom: 1rem;
    }
    
    .emphasis_letter_first {
        font-weight: bold;
        font-size: 0.8rem;   
    }

    .emphasis_letter_next {
        float: left;
    }
    
    .each_quiz_point {
        font-size: 0.9rem;
        width: 12rem !important;
    }

    #btn_quiz_score_input {
        width: 12rem; 
        height: 2rem;
        font-size: 0.8rem;
        font-weight: normal;
    }

    #final_result_header {
        font-size: 1.3rem;
    }

    #quiz_score {
        width: 5rem !important;
        height: 1.5rem !important;
    }

    .quiz_name_label {
        margin-right: 0.6rem !important;
        font-size: 0.9rem;
    }

    .btn_div {
        padding-left: 0rem;
        margin-bottom: 1rem;
    }

    .clear_quiz{
        height: 0rem;
        clear: both;
        position: inherit;
    }

    /* 퀴즈 결과 화면 */
    #quiz_result_label {
        font-size: 0.9rem;
        margin-top: 0rem;
        margin-left: 5.5rem;
    }
    
    #quiz_date_selected {
        width: 12rem !important;
        font-size: 0.9rem;
        height: 2rem !important;
        margin-left: 1.9rem;
        margin-bottom: 0.5rem;
    }
    
    #moveBtn_select_quiz_date {
        width: 12rem !important;
        font-size: 0.9rem;
        margin-left: 1.9rem;
    }

    .each_quiz_result_point {
        font-size: 0.9rem;
        width: 12rem !important;
        margin-top: 1rem !important;
    }
    
    .quiz_result_name_label {
        padding-right: 1rem !important;
        font-size: 0.9rem;
    }

    .result_dotdot {
        padding-right: 1.5rem;
    }

    #result_score {
        width: 4rem !important;
        height: 1.5rem !important;
    }

    .quiz_rank {
        font-size: 1.7rem;
        margin-left: 1rem;
    }

    .no_quiz_result_past {
        font-size: 0.8rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .quiz_status_control{
        width:15.5rem;
    }
}
