.out_study_make_frame {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-content: center;
    background-color: #EEEEEE;
}

.study_make_screen {
    width: 100%;
    height: 100%;
    padding-left: 30%;
    padding-right: 30%; 
}

.study_make_header{
    text-align: center;
}

.study_make_form {
    width: 100%;
    height: 100%;
    list-style: none;
    border-top: 1px solid rgb(182, 145, 119);
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    padding-top: 1rem;
}

.study_make_form_group {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
}

#study_make_name{
    width: 48% !important;
}

#study_make_start_date{
    width: 48% !important;
}

#study_make_total_number{
    width: 48% !important;
}

#study_make_subject{
    width: 48% !important;
}

.react-datetime-picker__wrapper {
    margin-left: 0.4rem;
    padding-left: 0.1rem;
    /* display: contents !important; */
    width: 17.5rem !important;
    height: 2.3rem !important;
    font-size: 0.9rem;
    background-color: white;
}

#study_make_end_date {
    margin-left: 0.4rem;
    padding-left: 0.1rem;
}

.end_date_desc{
    font-size: 0.9rem;
    text-align: center;
}

.react-datetime-picker__inputGroup__input {
    min-width: 1.3rem !important;
}

.react-datetime-picker__inputGroup__year {
    min-width: 2.5rem !important;
}

.react-datetime-picker__clear-button{
    display: none !important;
}

#study_make_coin {
    width: 48% !important;
}

#study_make_pw{
    width: 48% !important;
}

#study_make_long_desc{
    width: 100% !important;
}

#re_study_make_name{
    width: 48% !important;
}

#re_study_make_total_number{
    width: 48% !important;
}

#re_study_make_subject{
    width: 48% !important;
}

#re_study_make_start_date{
    width: 48% !important;
}

#re_study_make_end_date{
    width: 48% !important;
}

#re_study_make_coin {
    width: 48% !important;
}

#re_study_make_long_desc{
    width: 100% !important;
}

.study_make_label{
    width: 50% !important;
}

#btn_study_make {
    border-color: rgb(182, 145, 119);
    color: rgb(182, 145, 119);
    font-weight:bold;
    margin-top: 12rem;
}

#btn_study_make:hover{
    background-color: #D3B8A5;
    color: white;
}

#re_btn_study_make {
    border-color: rgb(182, 145, 119);
    color: rgb(182, 145, 119);
    font-weight:bold;
    margin-top: 12rem;
}

#re_btn_study_make:hover{
    background-color: #D3B8A5;
    color: white;
}

#study_make_title{
    font-size: 1.8rem;
    font-weight:bold;
}

#study_make_desc{
    font-size: 1rem;
}

/*progress_bar 레이어로 띄우기*/
.progrss_bar_layer{
    width:100%;
	height:100%;
    position:fixed;
	left:0;
	top:0;
	background-color:#00000077;
    z-index:1;
    
}
/*레이어로 띄운 progress_bar 배경*/
.progress_bar_body{
    margin-top:20%;
    margin-left: 40%;
    padding-top : 40px;
    padding-bottom: 40px;
    width: 300px;
    /* height: 150px; */
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid rgb(182, 145, 119);
    color: #000000;
}

/*전체 다이얼로그 배경색 지정*/
.react-confirm-alert-overlay{
    background-color: #00000077 !important;
}

.end_date_desc_of_info>br{
    display: none;
}

.end_date_desc_of_info{
    margin-left: 2.4rem;
    font-size: 0.9rem;
    text-align: center;
}

@media(max-width: 1200px) { 

    .out_study_make_frame {
        padding-bottom: 0rem;
    }

    .study_make_screen {
        padding-left: 10%;
        padding-right: 10%; 
    }

    .study_make_label{
        font-size: 0.9rem;
    }

    #study_make_name{
        font-size: 0.7rem;
    }

    #study_make_total_number{
        font-size: 0.7rem;
    }

    #study_make_subject{
        font-size: 0.7rem;
    }

    #study_make_start_date{
        font-size: 0.7rem;
    }
    
    .react-datetime-picker__wrapper {
        width: 16.5rem !important;
        height: 2.3rem !important;
        font-size: 0.7rem;
        margin-left: 0rem !important;
        padding-left: 0rem !important;
    }

    #study_make_end_date{
        font-size: 0.7rem;
    }
    .end_date_desc{
        font-size: 0.65rem;
    }
    #study_make_coin {
        font-size: 0.7rem;
    }
    #study_make_pw{
        font-size: 0.7rem;
    }
    #study_make_long_desc{
        width: 100% !important;
        height: 7rem !important;
    }

    #re_study_make_name{
        font-size: 0.7rem;
    }
    
    #re_study_make_total_number{
        font-size: 0.7rem;
    }
    
    #re_study_make_subject{
        font-size: 0.7rem;
    }
    
    #re_study_make_start_date{
        font-size: 0.7rem;
    }

    #re_study_make_end_date{
        font-size: 0.7rem;
    }
    
    #re_study_make_coin {
        font-size: 0.7rem;
    }

    #btn_study_make {
        font-size: 0.9rem;
        margin-top: 8rem;
    }

    #study_make_title{
        font-size: 1.4rem;
    }
    
    #study_make_desc{
        font-size: 0.8rem;
    }

    .study_make_form_group {
        /* font-size: 1rem; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .end_date_desc_of_info>br{
        display: block;
    }
    .end_date_desc_of_info{
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
    }
    /*레이어로 띄운 progress_bar 배경*/
    .progress_bar_body{
        margin-top:65%;
        margin-left: 10%;
    }
}
