.all_list_frame {
    margin-left: 12%;
    margin-right: 12%;
}

.all_list_study {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#moveBtn_study_make {
    width: 74%;
    margin-left: 13%;
    background-color:  rgb(224, 184, 183);
    border-color:  rgb(224, 184, 183);
    color: #fff;
}

#moveBtn_study_make:hover {
    width: 74%;
    margin-left: 13%;
    background-color: rgb(224, 184, 183);
    border-color: rgb(224, 184, 183);
    color: rgb(224, 184, 183);
    border-width: 2px;
}

.studyMake {
    text-decoration: none !important;
}

.list_studyInfo, .list_studyInfo:hover {
    color: #000000;
}

@media(max-width: 1200px) {
    #moveBtn_study_make{
        font-size: 1rem;
        width: 100%;
        margin-left: 0;
    }

    #moveBtn_study_make:hover {
        width: 100%;
        margin-left: 0;
    }
}