.Top_logo {
  background-color: rgb(21, 52, 80);
  height: 9rem;
}

.membership {
  text-align: right;
  padding-top:0.7%;
  font-size: 0.9rem;
}

img {
  /* position: relative; */
  /* left:43%;  */
  /* top:0; */
}

.logo_zone{
  width: 100%;
  
}

.main_link{
  text-align: center;
}

.main_logo {
  width: 7.5%;
  margin: auto;
}

.top_btn {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
  font-weight: bold; 
}

.top_btn:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.menubar_wrapper {
  height: 2.5rem;
  text-align: center;
  background-color: white;
}

.nav {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
} 

.nav li {
  height: 100%;
  text-transform: uppercase;
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
}

.nav li .nav-link { 
  text-decoration: none;
  color: rgb(21, 52, 80);
  font-weight: bold;
  font-size: 0.9rem; 
}   

.nav li:after{
  clear: both;
}

.nav li .nav-link:hover{
  text-decoration: underline;
}

.menu_line{
  display: none;
}

@media(max-width: 1200px){
  .Top_logo {
    height: 7rem;
  }

  .main_logo {
    width: 5rem;
  }

  .top_btn {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    font-weight: bold; 
    font-size: 0.8rem;
  }

  .nav {
    height: 50%;
  }

  .nav li {
    width: 100%;
    letter-spacing: 0.2rem;
  }

  .nav-link {
    font-size: 0.8rem !important;
  }

  .menu_line{
    display: block;
    height: 1px !important;
    clear: both;
    padding: 0;
    margin: 0;
  }

  .menubar_wrapper {
    height: 3.9rem;
    text-align: center;
  }
}
